<div class="row">
    <div class="mb-3 col-12">
        <div class="blog-side-nav nav">
            <div class="nav-item">
                <a href="/blog" class="nav-link <%=page==="blog" ? "text-decoration-underline": ""%>">Posts</a>
            </div>
            <div class="nav-item">
                <a href="/blog/topics"
                    class="nav-link <%=page==="topics" ? "text-decoration-underline": ""%>">Topics</a>
            </div>
            <div class="nav-item"><a href="/blog/archive"
                    class="nav-link <%=page==="archive" ? "text-decoration-underline": ""%>">Archive</a>
            </div>
        </div>
    </div>
</div>