<div class="container text-center">
    <p class="mb-1">This Website powered by&nbsp;
        <a href="https://pages.github.com/" target="_blank" rel="noopener noreferrer nofollow">Github</a>
        &nbsp;and&nbsp;
        <a href="https://www.heroku.com/dynos" target="_blank" rel="noopener noreferrer nofollow">Heroku</a>
    </p>
    <p class="mb-1">
        API is powered by
        Node.js/MongoDB/Express/Postgres
        (<a href="https://github.com/anasnajaa/anasnajaa-api" target="_blank" rel="noopener noreferrer nofollow">source
            code</a>)
    </p>
    <p class="mb-1">
        Content is powered by&nbsp;<a href="https://ghost.org/docs/api/v3/content/" target="_blank"
            rel="noopener noreferrer nofollow">Ghost</a>&nbsp;acting as a headless CMS
    </p>
</div>