<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WTLYMBW3SN"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-WTLYMBW3SN');
</script>

<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="/img/favicons/favicon.ico">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#000000">
<link rel="apple-touch-icon" href="/img/favicons/logo192.png">
<link rel="manifest" href="/manifest.json">

<title><%=header.title%> - AN Admin Panel</title>

<link href="/libs/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css?v=3" rel="stylesheet">

<script src="/libs/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/25132a9bc3.js" crossorigin="anonymous"></script>
<script src="/libs/jquery-3.6.0.min.js"></script>

<script src="/libs/pagination.min.js"></script>

<script src="/libs/moment.min.js"></script>

<script src="/libs/daterangepicker.min.js"></script>
<link href="/libs/daterangepicker.css" rel="stylesheet">

<link href="/libs/select2.min.css" rel="stylesheet">
<script src="/libs/select2.full.min.js"></script>

<link href="/libs/toastr.min.css" rel="stylesheet">
<script src="/libs/toastr.min.js"></script>

<script src="/libs/loadingoverlay.min.js"></script>

<script src="/js/util.js?v=2"></script>
<script src="/js/dialogs.js?v=2"></script>
<script src="/js/toasts.js?v=2"></script>
<script src="/js/alerts.js?v=2"></script>
<script src="/js/validator.js?v=2"></script>
<script src="/js/api.js?v=2"></script>
