<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand">Anas Najaa</span>
        <button aria-controls="basic-navbar-nav" type="button" aria-label="Toggle navigation"
            class="navbar-toggler collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <div class="mr-auto navbar-nav">
                <a href="/" class="active nav-link">Home</a>
                <a href="/blog" class="nav-link">Blog</a>
                <a href="/services" class="nav-link">Services</a>
                <a href="/portfolio" class="nav-link">Portfolio</a>
                <a href="/links" class="nav-link">Links</a>
                <a href="/books" class="nav-link">Books</a>
                <a href="/playground" class="nav-link">Playground</a>
            </div>
        </div>
    </div>
</nav>