<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head', {header: {title: "Page Not Found", description: "The requested page is not available"}}); %>
</head>

<body>

    <header>
        <%- include('../partials/navigation', {page: "404"}); %>
    </header>
    <div class="container mt-2">
        <div class="row py-5">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mx-auto text-center">
                <div class="card">
                    <div class="card-body">
                        <h1>404</h1>
                        <h1>Page Not Found</h1>
                        <a class="btn btn-secondary" href="/">Back to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>