<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head', {header: {title: "Profile", description: ""}}); %>
</head>

<body>
    <header>
        <%- include('../partials/navigation-admin', {page: "profile", user: pd.user}); %>
    </header>

    <main>
        <div class="container p-3 mt-5">

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
    <script>
    </script>
</body>

</html>