<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navigation', {page: "blog"}); %>
    </header>

    <div class="container my-4 py-5">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                <%- include('../partials/blog-side-nav', {page: "archive"}); %>
            </div>
        </div>
    </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>