<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navigation'); %>
    </header>

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Hi, I'm Anas Najaa.</h1>
                    <p class="lead text-muted">
                        I'm a software developer based in Kuwait.<br>I'm currently interested in building APIs
                        and infrastructres.<br><i>Learn by doing, keep learning.</i>
                    </p>
                    <p>
                        <a class="btn btn-primary my-2" href="https://www.linkedin.com/in/anasnajaa" target="_blank"
                            rel="noopener noreferrer nofollow"><i class="fab fa-linkedin"></i>
                        </a>
                        <a class="btn btn-secondary my-2" href="https://github.com/anasnajaa" target="_blank"
                            rel="noopener noreferrer nofollow"><i class="fab fa-github-square"></i>
                        </a>
                    </p>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>