<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head', {header: {title: "Home", description: "Home Page of Anas Najaa's personal website."}}); %>
</head>

<body>

    <header>
        <%- include('../partials/navigation', {page: "home", user: pd.user}); %>
    </header>

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-3">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="p-3 mb-2 bg-light rounded-5">
                        <div class="container-fluid py-3">
                            <h1 class="display-5 fw-bold">Anas Najaa</h1>
                            <p>
                                Software developer based in Kuwait.<br>Currently interested in building APIs
                                and infrastructures.<br><i>Learn by doing, keep learning.</i>
                            </p>
                            <a class="btn btn-outline-primary my-2" href="https://www.linkedin.com/in/anasnajaa"
                                target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-linkedin"></i>
                            </a>
                            <a class="btn btn-outline-secondary my-2" href="https://github.com/anasnajaa"
                                target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-github-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="powered-by container text-center mt-5">
            <p class="mb-1">This Website is hosted on <a href="https://www.digitalocean.com/products/app-platform"
                    target="_blank" rel="noopener noreferrer nofollow">Digital Ocean</a> and published through <a href="https://www.github.com/" target="_blank"
                    rel="noopener noreferrer nofollow">Github</a> 
            </p>
            <p class="mb-1">
                Content is powered by&nbsp;<a href="https://ghost.org/docs/api/v3/content/" target="_blank"
                    rel="noopener noreferrer nofollow">Ghost</a>&nbsp;acting as a headless CMS
            </p>
            <p class="mb-1">
                <a href="https://github.com/anasnajaa/anasnajaawebsite" target="_blank"
                    rel="noopener noreferrer nofollow">source
                    code</a>
            </p>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>