<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navigation', {page: "services"}); %>
    </header>

    <main>

        <div class="p-3 mt-5 container">
            <div class="row">
                <div class="col-12">
                    <div class="jumbotron">
                        <h1>How can I help you?</h1>
                        <div>
                            <p>Regardless of your business's size, you're always on the lookout for the right IT partner
                                that
                                will guide you through IT complexities and relevant solutions. I hope to fill that role
                                and
                                assist you to the best of my abilities. The services that I offer are all related to my
                                expertise, knowledge and skills that I accumulated throughout my personal and
                                professional
                                journey in IT and Software Development.<br>Please explore the services that I offer
                                below and
                                place a request as you see fit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>