<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navigation', {page: "services"}); %>
    </header>

    <main>
        <div class="p-3 mt-5 container">
            <div class="row">
                <div class="col-12">
                    <div class="jumbotron">
                        <h1>How can I help you?</h1>
                        <div>
                            <p>Regardless of your business's size, you're always on the lookout for the right IT partner
                                that
                                will guide you through IT complexities and relevant solutions. I hope to fill that role
                                and
                                assist you to the best of my abilities. The services that I offer are all related to my
                                expertise, knowledge and skills that I accumulated throughout my personal and
                                professional
                                journey in IT and Software Development.<br>Please explore the services that I offer
                                below and
                                place a request as you see fit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header"><button type="button" class="btn btn-outline">General IT
                                    Support</button>
                            </div>
                            <div class="collapse" style="">
                                <div class="card-body">
                                    <div>
                                        <!--kg-card-begin: markdown-->
                                        <p><strong>Background</strong><br>
                                            I started my professional journey as a front-line support engineer back at
                                            KPC
                                            (Kuwait Petroleum Corporation). I still have some fond memories of this job,
                                            nothing
                                            brings satisfaction as much as resolving IT headache of employees that just
                                            need to
                                            get things done the right way. Nowadays, I wear many hats at my job that
                                            range from
                                            solving software problems, network and firewall problems, server issues and
                                            IT tools
                                            evaluation and testing. Throughout my professional journey I proved that my
                                            expertise go beyond software development and extend to many areas of IT.</p>
                                        <p><strong>How can I help?</strong><br>
                                            If you need help selecting the right tools to solve an IT related issue, or
                                            just
                                            need fixing a hardware or software problem related to your device, I'm your
                                            guy.
                                            Here are more examples:</p>
                                        <ul>
                                            <li>Setting up and configuring a server (Windows/Linux)</li>
                                            <li>Configuring a simple local network</li>
                                            <li>Configuring Cloud server</li>
                                            <li>Deploying a website</li>
                                            <li>LMS (Learning Management System) assistance (such as Moodle)</li>
                                            <li>General inquiry on what tools to select for a certain IT problem</li>
                                            <li>Feasibility study and cost estimation of IT tools and services</li>
                                            <li>Assistance with using a software (Office, MS Teams, ERP software,
                                                etc...)</li>
                                            <li>Preparing presentations related to IT tools or services</li>
                                            <li>Giving presentations regarding IT solutions</li>
                                        </ul>
                                        <p>To mention a few. Contact me and let us discuss how I can be of assistance
                                            over a
                                            nice cup of coffee!</p>
                                        <p><strong>Coffee? I'm down, let's get in touch!</strong><br>
                                            Please use the "place a request" button below and fill out the form. You'll
                                            be asked
                                            to validate either your email or mobile number to confirm the submission.
                                            I'll
                                            contact you within 2 business days (I work Saturdays too).</p>
                                        <!--kg-card-end: markdown-->
                                    </div>
                                    <hr><button type="button" class="mr-2 btn btn-primary">Place a
                                        request</button><button type="button" class="btn btn-success">FAQs</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header"><button type="button" class="btn btn-outline">Learning
                                    Programming</button>
                            </div>
                            <div class="collapse" style="">
                                <div class="card-body">
                                    <div>
                                        <!--kg-card-begin: markdown-->
                                        <p><strong>Background</strong><br>
                                            I'm an educator at heart. I graduated from PAAET (Public Authority of
                                            Applied
                                            Education and Training) with a Computer Education Bachelor. I learned there
                                            how to
                                            learn and how to interact and communicate with students. In addition, I
                                            taught
                                            programming in training centers and as a private tutor to many college
                                            students. In
                                            summer time, I usually assist students with graduation projects and any type
                                            of
                                            programming projects they are tasked with.</p>
                                        <p><strong>How can I help?</strong><br>
                                            If you need to learn programming, then please do get in touch with me. It is
                                            one of
                                            the activities that I'm passionate about the most. I can help you with the
                                            following:</p>
                                        <ul>
                                            <li>Learn Web development</li>
                                            <li>Learn Mobile Application Development</li>
                                            <li>Learn General programming concepts</li>
                                            <li>Assistance and Guidance of major projects</li>
                                        </ul>
                                        <p>If you're just starting with programming get in touch, your first lesson is
                                            on me!
                                        </p>
                                        <p><strong>Free lesson!? Where do I signup?</strong><br>
                                            Please use the "place a request" button below and fill out the form. You'll
                                            be asked
                                            to validate either your email or mobile number to confirm the submission.
                                            I'll
                                            contact you within 2 business days (I work Saturdays too).</p>
                                        <!--kg-card-end: markdown-->
                                    </div>
                                    <hr><button type="button" class="mr-2 btn btn-primary">Place a
                                        request</button><button type="button" class="btn btn-success">FAQs</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header"><button type="button" class="btn btn-outline">Web / App
                                    Development</button></div>
                            <div class="collapse show" style="">
                                <div class="card-body">
                                    <div>
                                        <!--kg-card-begin: markdown-->
                                        <p><strong>Background</strong><br>
                                            I'm a full-time software developer with 5+ years of experience in this
                                            field. I
                                            worked with many technologies on the backend and the frontend. I try to keep
                                            my
                                            development stack as diverse as possible and not limit myself to a certain
                                            set of
                                            technologies. My <a
                                                href="https://github.com/anasnajaa?tab=repositories">GitHub</a>
                                            contains a sample of the projects that I do for fun. My <a
                                                href="https://anasnajaa.github.io/#/portfolio">portfolio page</a>
                                            contains the
                                            major/serious projects that I worked on with a thorough description of the
                                            project,
                                            the technologies used and the challenges faced.</p>
                                        <p><strong>How can I help?</strong><br>
                                            Here are some of the projects I can handle as a part time developer:</p>
                                        <ul>
                                            <li>Personal websites</li>
                                            <li>E-Commerce websites</li>
                                            <li>Content Management Systems</li>
                                            <li>Mobile applications</li>
                                        </ul>
                                        <p>I have three main stacks which I prefer to work with on the backend:</p>
                                        <ul>
                                            <li>C# / .Net Core / MSSQL</li>
                                            <li>Python / Flask / MYSQL | Postgres</li>
                                            <li>JavaScript / Node.js / MongoDB | Postgres</li>
                                        </ul>
                                        <p>While on the frontend I prefer to keep it simple and use React and
                                            React-Native if
                                            possible.<br>
                                            <em>Disclaimer:</em> I prefer to work on short term projects that span a
                                            month or
                                            two.<br>
                                            If you're on the fence on whether to start your development project or not,
                                            please
                                            get in touch with me. We can discuss the project, the delivery date and the
                                            estimated cost, all free of charge.</p>
                                        <p><strong>Free consultation? Yes please!</strong><br>
                                            Please use the "place a request" button below and fill out the form. You'll
                                            be asked
                                            to validate either your email or mobile number to confirm the submission.
                                            I'll
                                            contact you within 2 business days (I work Saturdays too).</p>
                                        <!--kg-card-end: markdown-->
                                    </div>
                                    <hr><button type="button" class="mr-2 btn btn-primary">Place a
                                        request</button><button type="button" class="btn btn-success">FAQs</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>